<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
    $(function(){
    $(".ajaxForm").submit(function(e){
        e.preventDefault();
        var href = $(this).attr("action");
        $.ajax({
            type: "POST",
            dataType: "json",
            url: href,
            data: $(this).serialize(),
            success: function(response){
                if(response.status == "success"){
                    alert('Grazie. Il tuo messaggio è stato inviato.');
                    window.location.href = '{{ site.url }}{{ site.baseurl }}/it/#contact';
                }else{
                    alert("Si è verificato un errore: " + response.message);
                }
            }
        });
    });
    });
</script>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contattaci</h2>
                <h3 class="section-subheading text-muted">O inviaci una email a <a href="mailto:amira.e.david@gmail.com">amira.e.david@gmail.com</a>.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Create your own form using FormCarry: https://formcarry.com/ -->
                <form class="ajaxForm" action="YOUR_FORM_CARRY_ENDPOINT" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <input type="text" class="form-control" placeholder="Il tuo nome" id="name" name="name" required data-validation-required-message="Inserisci il tuo nome.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group form-group">
                                <input type="email" class="form-control" placeholder="La tua email" id="email" name="email" required data-validation-required-message="Inserisci la tua email.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <textarea class="form-control" placeholder="Il tuo messaggio" id="message" name="message" required data-validation-required-message="Inserisci un messaggio."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">Invia Messaggio</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>