<!-- Events Section -->
<section id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="section-subheading text-muted">
                    Benvenuti! Stiamo preparando ogni dettaglio con grande entusiasmo per farvi vivere una giornata indimenticabile con
                    noi. Di seguito vi presentiamo una piccola guida di ciò che vi aspetta per aiutarvi ad organizzarvi al meglio.
                    Questi orari sono indicativi e potrebbero variare leggermente.</h3>
                <h3 class="section-subheading text-muted">
                    Più in basso troverete informazioni sulla location, su come arrivare a Burgos e cosa fare in città e nei dintorni.
                    Infine vi lasciamo un modulo per confermare o declinare la vostra presenza. Si prega di compilarlo entro il 7 Marzo 2025.
                </h3>

                <br><br><br>

                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-responsive" src="{{ site.baseurl }}/img/events/events_yellow/bus.svg" alt="Partenza da Burgos">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h6 class="subheading" style="display: inline">11:30</h6> <h5 style="display: inline">Partenza da Burgos</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Partenza da Burgos in autobus. <a href="https://maps.app.goo.gl/BZS6EHN4jaiTrAEMA" target="_blank">Punto di ritrovo indicativo.</a> Quello definitivo sarà comunicato appena possibile. Si raccomanda di arrivare 10 minuti prima.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-responsive" src="{{ site.baseurl }}/img/events/events_yellow/anillos.svg" alt="Inizio cerimonia">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h6 class="subheading" style="display: inline">12:30</h6> <h5 style="display: inline">Cerimonia</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Presso <a href="#venue" class="page-scroll">Bodegas Buezo</a>. Per chi ci raggiungerà con mezzi propri, si raccomanda di arrivare 15 minuti prima.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-responsive" src="{{ site.baseurl }}/img/events/events_yellow/aperitivo.svg" alt="Aperitivo">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h6 class="subheading" style="display: inline">13:30</h6> <h5 style="display: inline">Aperitivo</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Siamo sposati!! Iniziamo i festeggiamenti con un aperitivo a base di tapas sulla terrazza.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-responsive" src="{{ site.baseurl }}/img/events/events_yellow/comida.svg" alt="Pranzo">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h6 class="subheading" style="display: inline">15:00</h6> <h5 style="display: inline">Pranzo</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Potete indicare eventuali allergie/intolleranze/preferenze di menu tramite il modulo di <a href="#rsvp" class="page-scroll">conferma di partecipazione</a>.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-responsive" src="{{ site.baseurl }}/img/events/events_yellow/tarta.svg" alt="Torta">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h6 class="subheading" style="display: inline">19:00</h6> <h5 style="display: inline">Torta</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">È l'ora di tagliare la torta e di brindare! A seguire caffè e amari.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-responsive" src="{{ site.baseurl }}/img/events/events_yellow/baile.svg" alt="Ballo">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h6 class="subheading" style="display: inline">20:00</h6> <h5 style="display: inline">Ballo</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">È l'ora di scatenarci in pista. DJ e open bar daranno il via alla festa! Con rinforzo a base di street food spagnolo.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-responsive" src="{{ site.baseurl }}/img/events/events_yellow/pajarillos.svg" alt="Saluti">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h6 class="subheading" style="display: inline">23:00</h6> <h5 style="display: inline">Baci e abbracci</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">L'autobus ripartirà verso Burgos alle 23:30. Arrivo al punto di partenza poco dopo mezzanotte.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>