<!-- FAQ Section --> 
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Domande Frequenti</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">Che tempo farà?</h4>  
            <p class="largepad text-muted">Ad agosto a Burgos fa caldo durante il giorno (25-30°C) e rinfresca la sera (15-20°C). La celebrazione si svolgerà in ambienti climatizzati, ma ci saranno momenti all'aperto.</p>
            
            <h4 class="service-heading">C'è un dress code?</h4>  
            <p class="largepad text-muted">È un matrimonio formale. Si consiglia abito da cerimonia per gli uomini e abito elegante/cocktail per le donne. Tenete presente che ci saranno momenti all'aperto.</p>
            
            <h4 class="service-heading">Come si raggiunge la location?</h4>  
            <p class="largepad text-muted">Sarà disponibile un servizio di autobus da Burgos. Se preferite utilizzare mezzi propri, c'è un ampio parcheggio gratuito presso la location. Consultate la sezione "Come Raggiungerci" per maggiori dettagli.</p>
        </div>
    </div>
</section>