<!-- Events Section -->
<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/events/1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Salida desde Burgos</h4>
                                <h4 class="subheading">11:30</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Punto de encuentro para salir hacia el lugar de la ceremonia.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/events/2.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Llegada Invitados</h4>
                                <h4 class="subheading">12:20</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Recepción de invitados en el lugar de la ceremonia.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/events/3.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Ceremonia</h4>
                                <h4 class="subheading">12:30</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Celebración de la ceremonia nupcial.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/events/1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Aperitivo</h4>
                                <h4 class="subheading">13:30</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Momento para compartir y disfrutar de un aperitivo.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/events/2.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Comida</h4>
                                <h4 class="subheading">15:30</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Banquete de celebración.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/events/3.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Baile</h4>
                                <h4 class="subheading">20:00</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">¡A bailar y celebrar!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/events/1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Fin de Fiesta</h4>
                                <h4 class="subheading">23:00</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Despedida y cierre de la celebración.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/events/2.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Vuelta a Burgos</h4>
                                <h4 class="subheading">23:30</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Regreso a Burgos.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>