<!-- Events Section -->
<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-responsive" src="{{ site.baseurl }}/img/events/events_yellow/bus.svg" alt="Salida desde Burgos">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h6 class="subheading" style="display: inline">11:30</h6> <h5 style="display: inline">Salida desde Burgos</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Unos días antes de la boda os comunicamos el punto de salida.Se recomienda llegar 10 minutos antes.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-responsive" src="{{ site.baseurl }}/img/events/events_yellow/anillos.svg" alt="Ceremonia">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h6 class="subheading" style="display: inline">12:30</h6> <h5 style="display: inline">Ceremonia</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Se celebrará en <a href="#venue" class="page-scroll">Bodegas Buezo</a>. Si te unes a nosotros con medios propios se recomienda llegar 15 minutos antes.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-responsive" src="{{ site.baseurl }}/img/events/events_yellow/aperitivo.svg" alt="Aperitivo">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h6 class="subheading" style="display: inline">13:30</h6> <h5 style="display: inline">Aperitivo</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Ya estamos casados!! Empezamos con el aperitivo a base de tapas en la terraza.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-responsive" src="{{ site.baseurl }}/img/events/events_yellow/comida.svg" alt="Comida">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h6 class="subheading" style="display: inline">15:30</h6> <h5 style="display: inline">Comida</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Podeis indicarnos posibles alergias/intolerancias/preferencias de menu al <a href="#rsvp" class="page-scroll">confirmar la asistencia</a>.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-responsive" src="{{ site.baseurl }}/img/events/events_yellow/tarta.svg" alt="Tarta">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h6 class="subheading" style="display: inline">19:00</h6> <h5 style="display: inline">Tarta</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Es la hora de la tarta y brindis para acompañar el postre y el café.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-responsive" src="{{ site.baseurl }}/img/events/events_yellow/baile.svg" alt="Baile">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h6 class="subheading" style="display: inline">20:00</h6> <h5 style="display: inline">Baile</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">DJ y open bar nos esperan para una fiesta inolvidable!! Habrá algo de picoteo antes de terminar la fiesta.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-responsive" src="{{ site.baseurl }}/img/events/events_yellow/pajarillos.svg" alt="Fin de Fiesta">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h6 class="subheading" style="display: inline">23:00</h6> <h5 style="display: inline">Saludos y abrazos</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Hora de despedirnos. A las 23.30 salida del autobús hacia Burgos, llegadas previstas poco despues de la media noche.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>