<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4"> 
            </div>
            <div class="col-md-4">
                Hecho con ❤️ por el 🦀 para la 🦒
                <div class="small text-muted mt-2" style="font-size: 0.7em;">
                    Fork of a <a href="https://alicelepissier.com/programming/wedding-website-template">wedding website template</a> by <a href="https://alicelepissier.com/">Alice Lépissier</a>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</footer>