<!-- jQuery Version 1.11.0 -->
<script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

<script>
const scriptURL = 'https://script.google.com/macros/s/AKfycbw30pwPIvkopyFuEELAiFPKLzgxQNS3AjRexG-WyEu2sX-LrZczX3_de3vlAaNI5zuWTA/exec';
</script>


<!-- Custom Theme JavaScript -->
<script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>

<!-- Add RSVP script -->
<script src="{{ "/js/rsvp_es.js" | prepend: site.baseurl }}"></script>
